repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        -   id: check-yaml
        -   id: check-json
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
        -   id: detect-private-key
        -   id: fix-byte-order-marker
  -   repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
        - id: black
          language_version: python3.9
  -   repo: https://github.com/PyCQA/isort
      rev: 5.10.1
      hooks:
        - id: isort
          args: [ --profile=black ]
  -   repo: https://github.com/sirosen/check-jsonschema
      rev: 0.16.0
      hooks:
        - id: check-github-actions
        - id: check-github-workflows

  -   repo: https://github.com/pycqa/flake8
      rev: 4.0.1
      hooks:
        - id: flake8

ci:
  autofix_prs: true
